/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* code for the univesal properties */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* body styling  */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4070f4;
  height: 100vh;
  width: 100%;
}
.wrapper {
  max-width: 480px;
  width: 100%;
  padding: 2rem;
  border-radius: 15px;
  background-color: white;
}
.wrapper .input-box {
  width: 100%;
  height: 60px;
  position: relative;
  margin: 1.5rem 0rem;
}
.input-box input {
  outline: none;
  padding: 0rem 15px;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: 19px;
  transition: all 0.3s ease;
  font-weight: 500;
  width: 100%;
  height: 100%;
  background-color: white;
}
.input-box label {
  position: absolute;
  left: 15px;
  font-weight: 400;
  font-size: 18px;
  transition: all 0.3s ease;
  top: 50%;
  background-color: white;
  transform: translateY(-50%);
  padding: 0 3px;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: 0;
  color: #4070f4;
}
.input-box input:focus {
  border-color: #4070f4;
}
.input-box i {
  top: 50%;
  position: absolute;
  right: 15px;
  transform: translateY(-50%);
}
.input-box #button {
  color: white;
  background-color: #4070f4;
  cursor: pointer;
}
.input-box i{
  padding: 8px;
  cursor: pointer;
}
.input-box #button:hover {
  background-color: #6086ed;
}
.wrapper .alert {
  font-size: 18px;
  font-weight: 500;
  margin-top: -16px;
}
.errorIcon {
  margin-right: 8px;
  color: red;
  display: none;
}